<h2>Список клиентов</h2>

<!-- Цикл, где каждой переменной cl присваивается строка в виде хэша из массива @clients-->
<% @clients.each do |cl| %>
  <p>
    <!-- Вывод на странице /client/'client_id' значения с ключем name-->
    <a href="/client/<%= cl.id %>"><%= cl.name %></a>
  </p>
<% end %>
