<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Список клиентов</th>
    </tr>

<!-- Цикл, где каждой переменной cl присваивается строка в виде хэша из массива @clients-->
  <tbody>
    <% @clients.each do |cl| %>
      <tr>
        <!-- Вывод на странице /client/'client_id' значения с ключем name-->
        <td><a href="/client/<%= cl.id %>"><%= cl.name %></a></td>
      </tr>
    <% end%>
  </tbody> 
</table>