<h2>Добро пожаловать!</h2>

<!-- Цикл, где каждой переменной st присваивается строка в виде хэша из массива @stylists-->
<% @stylists.each do |st|%>
  <p>
    <%= st.stylist_name %> <!-- Вывод на экран значения с ключем stylist_name-->
  </p>
<% end %>