<h2>Добро пожаловать!</h2>
<h3>Очередь клиентов:</h3>

<!-- Цикл, где каждой переменной st присваивается строка в виде хэша из массива @stylists-->
<% @clients.each do |st|%>
  <p
    <!-- Вывод на экран значений с ключами 'name' и 'date_time'-->
    <%= st.name %>&nbsp;&nbsp;&nbsp;<%= st.date_time %>
  </p>
<% end %>