<h2>Cтраница стилиста</h2>

<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Имя стилиста: </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @stylist.stylist_name %></td>
    </tr>
  </tbody> 
</table>