<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Список стилистов:</th>
    </tr>
  </thead>
<!-- Цикл, где каждой переменной st присваивается строка в виде хэша из массива @stylists-->
  <tbody>
    <% @stylists.each do |st|%>
      <tr>
        <!-- Вывод на странице /stylist/'stylist_id' значения с ключем stylist_name-->
        <td><a href="/stylist/<%= st.id %>"><%= st.stylist_name %></a></td>
      </tr>
    <% end%>
  </tbody> 
</table>