<h2>Список стилистов:</h2>

<!-- Цикл, где каждой переменной st присваивается строка в виде хэша из массива @stylists-->
<% @stylists.each do |st|%>
  <p>
    <!-- Вывод на странице /stylist/'stylist_id' значения с ключем stylist_name-->
    <a href="/stylist/<%= st.id %>"><%= st.stylist_name %></a>
  </p>
<% end %>